<div class='sidenav'>
    <span (click)='newDoc()'>Nuevo Documento</span>
    <span [class.selected]='docId === currentDoc' (click)='loadDoc(docId)' *ngFor='let docId of documents | async'>{{ docId }}</span>
</div>